{% extends 'base.html' %}
{% block boby %}
<!-- Profile Section -->
<div class="container">
    <div class="profile-header">
        <h1>Waqar Raza's Profile</h1>
        <div>
            <img src="static/Waqar_1.jpg" width="150" alt="Profile Picture 1">
            <img src="static/Waqar_2.jpeg" width="150" alt="Profile Picture 2">
            <img src="static/Waqar_3.jpeg" width="150" alt="Profile Picture 3">
        </div>
    </div>

    <div class="profile-info">
        <div class="card">
            <h5>Personal Information</h5>
            <p><strong>Name:</strong> Waqar Raza</p>
            <p><strong>Father's Name:</strong> Ali Raza</p>
            <p><strong>Country:</strong> Pakistan</p>
            <a href="/contact" class="btn btn-custom">Contact Me</a>
        </div>
    </div>


    {% endblock boby %}